<div class="container">
  <h1>Angular Services</h1>
  
  <div class="card">
    <h2>App Counter: {{ appCounterService.counter }}</h2>
    <button class="btn" (click)="appCounterService.increase()">+</button>
    <button class="btn" (click)="appCounterService.decrease()">-</button>
  </div>

  <div class="card">
    <h2>App Counter: {{ appLocalCounterService.counter }}</h2>
    <button class="btn" (click)="appLocalCounterService.increase()">+</button>
    <button class="btn" (click)="appLocalCounterService.decrease()">-</button>
  </div>
  
  <app-counter></app-counter>

</div>


<!-- <p>
    {{ float }}
  </p>

  <p>
    {{ float | currency }}
  </p>
  
  <p>
    {{ float | percent }}
  </p>

  <pre>{{ obj | json }}</pre>

  <p>
    {{ date | date:'MMMM dd, yyy, HH:mm' }}
  </p>

  <p>
    {{ str | uppercase | lowercase | titlecase }}
  </p>

  <p>
    {{ str | titlecase | slice:1:-2 }}
  </p>

  <p>
    {{ e | number:'1.1-5' }}
  </p>

  <p>
    {{ e | number:'3.1-2' }}
  </p>

  <p>
    {{ e | number:'1.0-0' }}
  </p> -->