<div class="container">
  <h1>Angular Pipes</h1>

  <p>
    Wait for it.... {{ p | async }}
  </p>

  <p>
    Date {{ date | date:'HH:mm:ss' }}
  </p>
  
</div>


<!-- <p>
    {{ float }}
  </p>

  <p>
    {{ float | currency }}
  </p>
  
  <p>
    {{ float | percent }}
  </p>

  <pre>{{ obj | json }}</pre>

  <p>
    {{ date | date:'MMMM dd, yyy, HH:mm' }}
  </p>

  <p>
    {{ str | uppercase | lowercase | titlecase }}
  </p>

  <p>
    {{ str | titlecase | slice:1:-2 }}
  </p>

  <p>
    {{ e | number:'1.1-5' }}
  </p>

  <p>
    {{ e | number:'3.1-2' }}
  </p>

  <p>
    {{ e | number:'1.0-0' }}
  </p> -->